.app {
  width: 100vw;
  background-color: #fafbff;
}
.app::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  position: static;
}
.main-container::-webkit-scrollbar {
  display: none;
}

.view-more-button {
  margin-top: 20px;
  padding: 10px;
  margin-left: 30px;
}

/* .main-container::-webkit-scrollbar {
  display: none;
} */
.library-cards-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  top: 70px;
}

.second-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 120px;

  padding: 0px 20px 20px 20px;
  width: 100%;
  height: 600px;
}

.react-slick {
  width: 100%;
}

.slick-slider {
  width: 100%;
  margin: 10px;
}
.slick-arrow {
  background-color: black;
  border-radius: 50%;
}
.slick-arrow:hover {
  background-color: #10183c;
  color: black;
}
.slick-arrow::after {
  color: black;
  opacity: 100%;
}
.slick-arrow::selection {
  color: black;
}

.view-more-button {
  background-color: #10183c;
  color: #ffffff;
}
.caorusel-and-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0px 30px 30px 30px;
  border-radius: 10px;
  margin-top: 10px;
}

.timeline-container {
  max-height: 100%;
  overflow-y: auto;
}
.timeline-container ::-webkit-scrollbar {
  display: none;
}
