.app {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fafbff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-container {
  width: 100%;
}
.library-cards-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 30px;
}

.second-container {
  display: flex;
}

.react-slick {
  width: 100vw;
}

.slick-slider {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}

.view-more-button {
  background-color: #10183c;
  color: #ffffff;
}
